<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{MasterLayout}">

<head>
    <title th:text="#{GUI009.page_name}"></title>
    <link media="all" rel="stylesheet" th:href="@{/pages/css/UserSearchList.css}" type="text/css"/>
</head>

<th:block layout:fragment="content">

    <div class="page-title">
        <h5 th:text="#{GUI009.page_name}"></h5>
        <hr/>
    </div>

    <div class="header">
        <form id="search-conditions">
            <div class="card">
                <div class="card-header" th:text="#{search} + #{conditions}"></div>

                <div class="card-body">
                    <div class="row form-group">
                        <div class="col-md-2 col-4">
                            <label class="control-label" th:text="#{name}"></label>
                        </div>
                        <div class="col-md-4 col-8">
                            <input type="text" class="form-control form-control-sm" name="name" th:value="${name}"
                                   maxlength="64"/>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-2 col-4">
                            <label class="control-label" th:text="#{email}"></label>
                        </div>
                        <div class="col-md-4 col-8">
                            <input type="text" class="form-control form-control-sm" name="email"
                                   th:value="${email}" maxlength="256"/>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="commands">
                        <button class="btn btn-sm btn-primary" th:text="#{search}"></button>
                        <button type="button" class="btn btn-sm btn btn-light btn-clear" th:text="#{clear}"></button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="detail">
        <div class="section-properties">
            <div class="pull-left total-page">
                <span th:utext="#{GUI001.label.display(${(userPage.totalElements > 0) ? (index + 1) : '0'} + '-' + ${(index + 5) > userPage.totalElements ? userPage.totalElements : (index + 5)}, ${userPage.totalElements})}"></span>
            </div>

            <thymeleaf th:replace="~{/fragments/pagination(${userPage.totalPages},
                                                           ${currentPage},
                                                           ${sequencePagination},
                                                           @{/user/search(name=${name}, email=${email})}
                                                           )}"></thymeleaf>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="card-title text-center">
                    <div class="pull-left" th:text="#{search} + #{result} + #{list}"></div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-sm table-hover table-bordered datatable">
                        <thead>
                        <tr>
                            <th class="text-center" style="width:50px">No.</th>
                            <th class="text-center" th:text="#{firstName}"></th>
                            <th class="text-center" th:text="#{lastName}"></th>
                            <th class="text-center" th:text="#{email}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="table-row"
                            th:if="${!isFirstLoad and (userPage.content != null and !userPage.content.isEmpty())}"
                            th:each="user, iStat : ${userPage.content}"
                            th:data-href="@{/user/{username}/detail(username=${user.username})}">
                            <td class="text-center" , th:text="${iStat.count + index}"></td>
                            <td class="text-center" , th:text="${user.firstName}"></td>
                            <td class="text-center" , th:text="${user.lastName}"></td>
                            <td class="text-center" , th:text="${user.email}"></td>

                        <tr>
                        <tr th:if="${!isFirstLoad and (userPage.content == null or userPage.content.isEmpty())}">
                            <td colspan="4" class="text-center">
                                <span th:text="#{GUI001.label.none}"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/pages/js/UserSearchList.js}" type="text/javascript"></script>
</th:block>

</html>